@use "sass:map";
@import "./src/scss/variables";

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: map.get($theme-colors, "bg-color");
  color: map.get($theme-colors, "text-color");
  font-weight: map.get($font-weight, "normal");
  font-family: $font-stack;
  line-height: map.get($line-height, lg);

  &_type_centered {
    min-width: map.get($container-widths, xs);
    max-width: map.get($container-widths, xl);
    margin: 0 auto;
  }

  &__header {
    flex: 0 0 auto;
    margin: 0;
    padding: map.get($spaces, xs);

    @media (min-width: map.get($grid-breakpoints, xl)) {
      padding: map.get($spaces, sm) 0;
    }
  }

  &__content {
    flex: 1 0 auto;
    margin: map.get($spaces, xs) auto;

    @media (min-width: map.get($grid-breakpoints, md)) {
      margin: map.get($spaces, sm) 0;
    }
  }

  &__footer {
    flex: 0 0 auto;
    padding: map.get($spaces, xs);

    @media (min-width: map.get($grid-breakpoints, xl)) {
      padding: map.get($spaces, sm) 0;
    }
  }
}
