.button_type_edit {
  max-height: 18px;
  padding: 3px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -27px;
  border: 1px solid #ffffff;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .button_type_edit {
    max-height: 24px;
    padding: 6px;
    margin: 7px 0 0;
    position: relative;
    right: initial;
  }
}
