@use "sass:map";
@import "./src/scss/variables";

.image-place {
  position: relative;

  &__image {
    max-width: 75vw;
    max-height: 75vh;
  }

  &__caption {
    margin-top: map.get($spaces, xxs);
    font-size: map.get($font-size, xxs);
  }
}
