@use "sass:map";
@import "./src/scss/variables";

$text-width: 11.875rem;
$image-height: 17.625rem;
$icon-size: 1.25rem;

.card {
  position: relative;
  display: grid;
  margin: 0;
  padding: 0;

  &__title {
    overflow: hidden;
    max-width: $text-width;
    margin: 0;
    padding: 0;
    color: map.get($theme-colors, "text-inverse-color");
    font-weight: map.get($font-weight, "black");
    font-size: map.get($font-size, md);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__image {
    object-fit: cover;
    min-width: 100%;
    max-width: 100%;
    min-height: $image-height;
    max-height: 100%;
    border-radius: $border-radius $border-radius 0 0;
    cursor: pointer;
    object-position: top;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: map.get($spaces, xs);
    border-radius: 0 0 $border-radius $border-radius;
    background-color: map.get($theme-colors, "bg-inverse-color");
  }

  &__button {
    width: $icon-size;
    height: $icon-size;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity $transition-duration ease;

    &_type_delete {
      position: absolute;
      top: map.get($spaces, xs);
      right: map.get($spaces, xs);
      background-image: url("../images/bin.svg");
    }

    &_type_like {
      background-image: url("../images/like-icon.svg");
    }

    &_type_active-like {
      background-image: url("../images/like-icon-active.svg");
    }

    &:hover {
      opacity: $opacity;
    }
  }
}
