.button_type_add {
  width: 100%;
  padding: 15px 0;
  border: 2px solid #ffffff;
}

@media screen and (min-width: 1280px) {
  .button_type_add {
    max-width: fit-content;
    padding: 12px 62px;
  }
}
