@use "sass:map";
@import "./src/scss/variables";

$image-width: 17.625rem;
$card-height: 23rem;

.places {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, $image-width));
    grid-auto-rows: $card-height;
    grid-gap: map.get($spaces, xs);
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: map.get($grid-breakpoints, xl)) {
      grid-gap: (map.get($spaces, sm) - map.get($spaces, xs));
    }
  }
}
