@use "sass:math";

@import "variables";

/* To hide form labels that are needed for screen readers */

/* For non-natively-focusable places. For natively focusable places */

/* Use .visually-hidden:not(:focus):not(:active) */
.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border-width: 0 !important;
  white-space: nowrap !important;
}
