.profile__button_type_edit {
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -27px;
  border: 1px solid #ffffff;
  align-self: center;
  background-image: url(../../../../images/edit-icon.svg);
}

@media screen and (min-width: 768px) {
  .profile__button_type_edit {
    width: 24px;
    height: 24px;
    margin: 7px 0 0;
    position: relative;
    right: 0;
  }
}
