@use "sass:map";
@import "./src/scss/variables";

$logo-height: 1.625rem;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(84 84 84 / 70%);

  &__logo {
    min-height: $logo-height;
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
