@use "sass:map";
@import "./src/scss/variables";

.form {
  display: flex;
  flex-direction: column;
  gap: map.get($spaces, xs);
  color: map.get($theme-colors, "text-inverse-color");

  @media (min-width: map.get($grid-breakpoints, md)) {
    gap: map.get($spaces, sm);
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: map.get($spaces, xs) 0;
    border: none;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    outline: none;
  }

  &__button {
    box-sizing: border-box;
    width: 100%;
    margin-top: map.get($spaces, xs);
    padding: map.get($spaces, xs) 0;
    border: none;
    border-radius: $border-radius-xs;
    background-color: map.get($theme-colors, "bg-color");
    color: map.get($theme-colors, "text-color");
    cursor: pointer;
    transition: opacity $transition-duration ease;

    &:hover {
      opacity: $opacity;
    }
  }
}
