.button {
  line-height: 0;
  padding: 0;
  background: transparent;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: opacity 3ms ease;
}

.button:hover {
  opacity: 0.6;
}
